[submodule "elasticfusionpublic"]
	path = elasticfusionpublic
	url = https://github.com/gaunthan/ElasticFusion.git
	branch = semanticfusion
[submodule "caffe_semanticfusion"]
	path = caffe_semanticfusion
	url = https://github.com/gaunthan/Caffe_SemanticFusion.git
